@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

html {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.jonny__grid {
    width: 90%;
    min-width: 755px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 25fr 19fr 19fr;
    grid-auto-rows: 2rem;
    grid-gap: 2.2rem;
    background-color: #FFB084;
    border-radius: 2rem;
    margin: 3rem auto;
    padding: 4rem 8rem;
}

.jonny__grid > div {
    background-color: white;
    border-radius: 2rem;
    width: 100%;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.jonny__summary {
    grid-row: 1/11;
    box-shadow: 7px 7px 0 #000000;
    font-size: 1.2rem;
}
.jonny__summary img {
    display: block;
    margin: 0 auto;
    width: 120px;
}

.jonny__summary div {
    margin: 1rem 1rem;
}

.jonny__slogan {
    grid-row: 11/13;
    box-shadow: 7px 7px 0 #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jonny__bio {
    grid-column: 2/4;
    grid-row: 1/5;
    box-shadow: 7px 7px 0 #000000;
}
.jonny__goals {
    grid-row: 5/8;
    box-shadow: 7px 7px 0 #29A71E;
}
.jonny__dream {
    grid-row: 8/13;
    box-shadow: 7px 7px 0 #3675B0;
}
.jonny__frustrations {
    grid-row: 5/10;
    box-shadow: 7px 7px 0 #E13535;
}
.jonny__personality {
    grid-row: 10/13;
    box-shadow: 7px 7px 0 #000000;
}
.jonny__summary-title {
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 1rem;
}
.jonny__bio-title {
    margin-bottom: 0.5rem;
}
.jonny__goals-title {
    margin-bottom: 0.5rem;
    color: #29A71E;
}
.jonny__dream-title {
    margin-bottom: 0.5rem;
    color: #3675B0;
}
.jonny__frustrations-title {
    margin-bottom: 0.5rem;
    color: #E13535;
}
.jonny__personality-title {
    margin-bottom: 0.5rem;
}

ul {
    padding: 0 2.5rem;
}